.logo {
    color: #fff;
    a {
        color: #fff;
    }
}

.layout-fixed {
    .collapsed {
        display: none;
    }
    .expanded {
        display: block;
        font-size: 16px;
    }
    &.aside-collapsed {
        .expanded {
            display: none;
        }
        .collapsed {
            display: block;
        }
    }
}